# 0. 데이터 분석
- 서울시 일반음식점 인허가 정보 데이터

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_initial = pd.read_csv('D:/DataSet/서울시_일반음식점_인허가_정보/fulldata_07_24_04_P_일반음식점.csv', encoding = 'cp949')
df_initial

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_7888\878300404.py:1: DtypeWarning: Columns (22,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df_initial = pd.read_csv('D:/DataSet/서울시_일반음식점_인허가_정보/fulldata_07_24_04_P_일반음식점.csv', encoding = 'cp949')

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,일반음식점,07_24_04_P,3180000,3180000-101-2022-00192,20220427,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,Y,143.00,NaN,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,4190000,4190000-101-2021-00036,20210122,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,10.98,NaN,NaN,NaN,NaN
2,3,일반음식점,07_24_04_P,3460000,3460000-101-2021-00013,20210115,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,26.40,NaN,NaN,NaN,NaN
3,4,일반음식점,07_24_04_P,3940000,3950000-101-2021-00012,20210115,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,86.00,NaN,NaN,NaN,NaN
4,5,일반음식점,07_24_04_P,3470000,3470000-101-2021-00028,20210115,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,19.12,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994949,1994950,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,20120119,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,85.00,NaN,NaN,NaN,NaN
1994950,1994951,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,20140612,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
1994951,1994952,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,20140321,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
1994952,1994953,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,20140319,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN
1994953,1994954,일반음식점,07_24_04_P,3600000,3600000-101-2014-00100,20140508,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,99.00,NaN,NaN,NaN,NaN

- 자체 인덱스 '번호'를 가지고 있음

In [3]:
df = pd.read_csv('D:/DataSet/서울시_일반음식점_인허가_정보/fulldata_07_24_04_P_일반음식점.csv', index_col = '번호', encoding = 'cp949')

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_7888\3113997359.py:1: DtypeWarning: Columns (22,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('D:/DataSet/서울시_일반음식점_인허가_정보/fulldata_07_24_04_P_일반음식점.csv', index_col = '번호', encoding = 'cp949')

In [4]:
df

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
번호,,,,,,,,,,,,,,,,,,,,,
1,일반음식점,07_24_04_P,3180000,3180000-101-2022-00192,20220427,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0.0,Y,143.00,NaN,NaN,NaN,NaN
2,일반음식점,07_24_04_P,4190000,4190000-101-2021-00036,20210122,NaN,3,폐업,2,폐업,...,NaN,NaN,NaN,NaN,N,10.98,NaN,NaN,NaN,NaN
3,일반음식점,07_24_04_P,3460000,3460000-101-2021-00013,20210115,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0.0,N,26.40,NaN,NaN,NaN,NaN
4,일반음식점,07_24_04_P,3940000,3950000-101-2021-00012,20210115,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0.0,N,86.00,NaN,NaN,NaN,NaN
5,일반음식점,07_24_04_P,3470000,3470000-101-2021-00028,20210115,NaN,3,폐업,2,폐업,...,0.0,NaN,0.0,0.0,N,19.12,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994950,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,20120119,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,85.00,NaN,NaN,NaN,NaN
1994951,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,20140612,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
1994952,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,20140321,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
1994953,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,20140319,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN
1994954,일반음식점,07_24_04_P,3600000,3600000-101-2014-00100,20140508,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,99.00,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지',
       'Unnamed: 47'],
      dtype='object')

- 1. 영업상태 '폐업', 영업상태 코드가 2인 row는 고려할 필요가 없으니 삭제
- 2. 크롤링에 필요한 컬럼들만 남기기
    - '사업장명', '업태구분명', '소재지전화', '소재지전체주소', '도로명전체주소', '도로명우편번호', '좌표정보(x)', '좌표정보(y)', '홈페이지'

In [6]:
df = df[df['상세영업상태명'] == '영업']

In [7]:
df

,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
번호,,,,,,,,,,,,,,,,,,,,,
1308415,일반음식점,07_24_04_P,4860000,4860000-101-2022-00006,20220428,NaN,1,영업/정상,1,영업,...,0.0,NaN,0.0,0.0,N,66.00,NaN,NaN,NaN,NaN
1308416,일반음식점,07_24_04_P,4860000,4860000-101-2022-00005,20220428,NaN,1,영업/정상,1,영업,...,0.0,NaN,0.0,0.0,N,294.00,NaN,NaN,NaN,NaN
1308417,일반음식점,07_24_04_P,5590000,5590000-101-2022-00113,20220428,NaN,1,영업/정상,1,영업,...,0.0,NaN,0.0,0.0,N,99.00,NaN,NaN,NaN,NaN
1308418,일반음식점,07_24_04_P,3350000,3350000-101-2022-00069,20220428,NaN,1,영업/정상,1,영업,...,0.0,NaN,0.0,0.0,Y,134.34,NaN,NaN,NaN,NaN
1308419,일반음식점,07_24_04_P,4670000,4670000-101-2022-00091,20220428,NaN,1,영업/정상,1,영업,...,0.0,NaN,0.0,0.0,N,17.84,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994950,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,20120119,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,85.00,NaN,NaN,NaN,NaN
1994951,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,20140612,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
1994952,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,20140321,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
1994953,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,20140319,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN
1994954,일반음식점,07_24_04_P,3600000,3600000-101-2014-00100,20140508,NaN,1,영업/정상,1,영업,...,NaN,NaN,NaN,NaN,N,99.00,NaN,NaN,NaN,NaN

In [8]:
df['영업상태구분코드'].nunique()

1

In [9]:
df['영업상태명'].nunique()

1

In [10]:
df.drop(columns = ['개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지면적', '소재지우편번호', '도로명우편번호',
       '최종수정시점', '데이터갱신구분', '데이터갱신일자',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식'], inplace = True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_7888\833433251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',

In [11]:
df

,소재지전화,소재지전체주소,도로명전체주소,사업장명,업태구분명,좌표정보(x),좌표정보(y),홈페이지,Unnamed: 47
번호,,,,,,,,,
1308415,NaN,전라남도 곡성군 곡성읍 읍내리 189-8,"전라남도 곡성군 곡성읍 읍내18길 6, 1층",그리곡성 여행자라운지,기타,227088.001976,198164.304281,NaN,NaN
1308416,NaN,전라남도 곡성군 오곡면 오지리 741-1,전라남도 곡성군 오곡면 기차마을로 252-14,기차마을식당,한식,228019.195207,197775.685548,NaN,NaN
1308417,031 8588456,경기도 양주시 덕정동 288,"경기도 양주시 독바위로 9, 1층일부 (덕정동)",덕정물닭갈비,한식,205469.084700,481974.534164,NaN,NaN
1308418,NaN,부산광역시 금정구 부곡동 397-11,"부산광역시 금정구 부곡로 23, 2층 (부곡동)",뎁스(Depth),경양식,389982.942984,193069.907431,NaN,NaN
1308419,NaN,전라북도 군산시 중앙로3가 176-3,전라북도 군산시 중앙로 76-13 (중앙로3가),함평집,한식,174597.974014,275661.102054,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1994950,NaN,광주광역시 남구 양림동 374번지 2층,"광주광역시 남구 제중로 39, 2층 (양림동)",뚱스넥,한식,192085.702260,182111.703093,NaN,NaN
1994951,062 369 1582,광주광역시 남구 월산동 1048-182번지 (1층),"광주광역시 남구 군분로 26-1, 1층 (월산동)",갈비명가아라네,한식,190363.418899,181905.028328,NaN,NaN
1994952,NaN,광주광역시 서구 화정동 332-9번지 (1층),"광주광역시 서구 월드컵4강로116번길 5, 1층 (화정동)",승진이네,한식,188322.201767,183130.570776,NaN,NaN
1994953,NaN,광주광역시 서구 화정동 70-61 (1층),"광주광역시 서구 내방로350번길 10, 1층 (화정동)",명가,한식,188873.020499,184152.82843,NaN,NaN
1994954,NaN,광주광역시 서구 풍암동 682-1번지 (1층),"광주광역시 서구 송풍로17번길 5, 1층 (풍암동)",라캄파넬라,경양식,187771.639116,179969.196777,NaN,NaN

In [12]:
df.columns

Index(['소재지전화', '소재지전체주소', '도로명전체주소', '사업장명', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [14]:
df.nunique()

소재지전화          395886
소재지전체주소        616628
도로명전체주소        632899
사업장명           478836
업태구분명              28
좌표정보(x)        454040
좌표정보(y)        453986
홈페이지                0
Unnamed: 47         0
dtype: int64

In [15]:
df.count()

소재지전화          404585
소재지전체주소        684910
도로명전체주소        678729
사업장명           686539
업태구분명          686441
좌표정보(x)        671345
좌표정보(y)        671345
홈페이지                0
Unnamed: 47         0
dtype: int64

- 확인 결과, 홈페이지 Column에는 어떠한 값도 들어있지 않음. -> 삭제

In [17]:
df.drop(columns = ['홈페이지'], inplace = True)
df.columns

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_7888\2336302257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['홈페이지'], inplace = True)

Index(['소재지전화', '소재지전체주소', '도로명전체주소', '사업장명', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       'Unnamed: 47'],
      dtype='object')

- 서울 강남 맛집 크롤링용으로 주소에 강남구 행정동이 포함된 데이터만 추출

In [32]:
seoul_south = '''
신사동 | 논현1동 | 논현2동 | 압구정동 | 청담동 | 삼성1동 | 삼성2동 | 대치1동 | 대치2동 | 대치4동 | 
역삼1동 | 역삼2동 | 도곡1동 | 도곡2동 | 개포1동 | 개포2동 | 개포4동 | 세곡동 | 일원본동 | 일원1동 | 
일원2동 | 수서동 | 염창동 | 등촌1동 | 등촌2동 | 등촌3동 | 화곡본동 | 화곡1동 | 화곡2동 | 화곡3동 | 
화곡4동 | 화곡6동 | 화곡8동 | 우장산동 | 가양1동 | 가양2동 | 가양3동 | 발산1동 | 공항동 | 방화1동 | 
방화2동 | 방화3동 | 목1동 | 목2동 | 목3동 | 목4동 | 목5동 | 신월1동 | 신월2동 | 신월3동 | 
신월4동 | 신월5동 | 신월6동 | 신월7동 | 신정1동 | 신정2동 | 신정3동 | 신정4동 | 신정6동 | 신정7동 | 
수궁동 | 항동 | 오류1동 | 오류2동 | 개봉1동 | 개봉2동 | 개봉3동 | 고척1동 |  고척2동 | 신도림동 | 
구로1동 | 구로2동 | 구로3동 | 구로4동 | 구로5동 | 가리봉동 | 영등포본동 | 영등포동 | 여의동 | 당산1동 | 
당산2동 | 도림동 | 문래동 | 양평1동 | 양평2동 | 신길1동 | 신길3동 | 신길4동 | 신길5동 | 신길6동 | 
신길7동 | 대림1동 | 대림2동 | 대림3동 | 가산동 | 독산1동 | 독산2동 | 독산3동 | 독산4동 | 시흥1동 | 
시흥2동 | 시흥3동 | 시흥4동 | 시흥5동 | 노량진1동 | 노량진2동 | 상도1동 | 상도2동 | 상도3동 | 상도4동 | 
흑석동 | 사당1동 | 사당2동 | 사당3동 | 사당4동 | 사당5동 | 대방동 | 신대방1동 | 신대방2동 | 보라매동 | 
은천동 | 성현동 | 중앙동 | 청림동 | 행운동 | 청룡동 | 낙성대동 | 인현동 | 남현동 | 신림동 | 
신사동 | 조원동 | 미성동 | 난곡동 | 난향동 | 서원동 | 신원동 | 서림동 | 삼성동 | 대학동 | 
잠원동 | 반포본동 | 반포1동 | 반포2동 | 반포3동 | 반포4동 | 서초1동 | 서초2동 | 서초3동 | 서초4동 | 
방배본동 | 방배1동 | 방배2동 | 방배3동 | 방배4동 | 양재1동 | 양재2동 | 내곡동 | 풍납1동 | 풍납2동 | 
거여1동 | 거여2동 | 마천1동 | 마천2동 | 방이1동 | 방이2동 | 오륜동 | 오금동 | 송파1동 | 송파2동 | 
석촌동 | 삼전동 | 가락본동 | 가락1동 | 문정1동 | 문정2동 | 장지동 | 위례동 | 잠실본동 | 잠실2동 | 
잠실3동 | 잠실4동 | 잠실6동 | 잠실7동 | 강일동 | 상일1동 | 상일2동 | 명일1동 | 명일2동 | 고덕1동 | 
고덕2동 | 암사1동 | 암사2동 | 암사3동 | 천호1동 | 천호2동 | 천호3동 | 성내1동 | 성내2동 | 성내3동 | 
길동 | 둔촌1동 | 둔촌2동
'''

In [34]:
df_south = df[df['소재지전체주소'].str.contains('서울특별시', seoul_south, na = False)]
df_south

,소재지전화,소재지전체주소,도로명전체주소,사업장명,업태구분명,좌표정보(x),좌표정보(y),Unnamed: 47
번호,,,,,,,,
1308425,NaN,서울특별시 강동구 성내동 427-47,"서울특별시 강동구 풍성로54길 33, 1층 (성내동)",바다드림,횟집,211730.041860,447312.111904,NaN
1308426,NaN,서울특별시 강동구 고덕동 193-4,"서울특별시 강동구 상일로15길 22, 1층 (고덕동)",청년피자 고덕상일점,경양식,214946.249742,450680.438962,NaN
1308427,NaN,서울특별시 강동구 길동 388-3,"서울특별시 강동구 양재대로111길 18, 2층 (길동)",빰빠라,라이브카페,212172.882863,448356.93027,NaN
1308440,NaN,서울특별시 중구 주교동 289-1,서울특별시 중구 을지로27길 32-16 (주교동),오우,기타,199910.827092,451776.715598,NaN
1308441,NaN,서울특별시 중구 을지로6가 17-2,"서울특별시 중구 장충단로13길 20, 지하2층 (을지로6가)",금덕푸드,기타,200613.510298,451817.515367,NaN
...,...,...,...,...,...,...,...,...
1955605,053 255 7949,서울특별시 강남구 삼성동 159-7 현대백화점,"서울특별시 강남구 테헤란로 517, 현대백화점 지하1층 (삼성동)",온기정,일식,205210.358779,445154.422252,NaN
1955606,NaN,서울특별시 강남구 대치동 896-28,"서울특별시 강남구 테헤란로68길 25, 지하1층 지하1호 (대치동)",놀부 공유주방 선릉역,한식,204603.136055,444606.621961,NaN
1955607,NaN,서울특별시 강남구 역삼동 707-34 한신인터밸리24빌딩,"서울특별시 강남구 테헤란로 322, 한신인터밸리24빌딩 지하2층 B130호 (역삼동)",인생갈비탕,한식,204044.789949,444529.840427,NaN
1957044,0264089282,서울특별시 강서구 화곡동 827-2 1층,"서울특별시 강서구 등촌로13다길 35, 1층 (화곡동)",꾸어가게생선구이화곡점,한식,187499.286366,448069.583478,NaN
1957045,NaN,서울특별시 강서구 마곡동 757 두산더랜드파크 B동 207호,"서울특별시 강서구 마곡중앙로 161-8, 두산더랜드파크 B동 2층 207호 (마곡동)",혼밥대왕 마곡점,한식,NaN,NaN,NaN

In [35]:
df_south.columns

Index(['소재지전화', '소재지전체주소', '도로명전체주소', '사업장명', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       'Unnamed: 47'],
      dtype='object')

- Column 순서 변경

In [36]:
cols = list(df.columns)

df_south = df_south[[cols[3]] + cols[ 0 : 3 ] + cols[ 4 : ]]
df_south

,사업장명,소재지전화,소재지전체주소,도로명전체주소,업태구분명,좌표정보(x),좌표정보(y),Unnamed: 47
번호,,,,,,,,
1308425,바다드림,NaN,서울특별시 강동구 성내동 427-47,"서울특별시 강동구 풍성로54길 33, 1층 (성내동)",횟집,211730.041860,447312.111904,NaN
1308426,청년피자 고덕상일점,NaN,서울특별시 강동구 고덕동 193-4,"서울특별시 강동구 상일로15길 22, 1층 (고덕동)",경양식,214946.249742,450680.438962,NaN
1308427,빰빠라,NaN,서울특별시 강동구 길동 388-3,"서울특별시 강동구 양재대로111길 18, 2층 (길동)",라이브카페,212172.882863,448356.93027,NaN
1308440,오우,NaN,서울특별시 중구 주교동 289-1,서울특별시 중구 을지로27길 32-16 (주교동),기타,199910.827092,451776.715598,NaN
1308441,금덕푸드,NaN,서울특별시 중구 을지로6가 17-2,"서울특별시 중구 장충단로13길 20, 지하2층 (을지로6가)",기타,200613.510298,451817.515367,NaN
...,...,...,...,...,...,...,...,...
1955605,온기정,053 255 7949,서울특별시 강남구 삼성동 159-7 현대백화점,"서울특별시 강남구 테헤란로 517, 현대백화점 지하1층 (삼성동)",일식,205210.358779,445154.422252,NaN
1955606,놀부 공유주방 선릉역,NaN,서울특별시 강남구 대치동 896-28,"서울특별시 강남구 테헤란로68길 25, 지하1층 지하1호 (대치동)",한식,204603.136055,444606.621961,NaN
1955607,인생갈비탕,NaN,서울특별시 강남구 역삼동 707-34 한신인터밸리24빌딩,"서울특별시 강남구 테헤란로 322, 한신인터밸리24빌딩 지하2층 B130호 (역삼동)",한식,204044.789949,444529.840427,NaN
1957044,꾸어가게생선구이화곡점,0264089282,서울특별시 강서구 화곡동 827-2 1층,"서울특별시 강서구 등촌로13다길 35, 1층 (화곡동)",한식,187499.286366,448069.583478,NaN
1957045,혼밥대왕 마곡점,NaN,서울특별시 강서구 마곡동 757 두산더랜드파크 B동 207호,"서울특별시 강서구 마곡중앙로 161-8, 두산더랜드파크 B동 2층 207호 (마곡동)",한식,NaN,NaN,NaN

- Column명 변경(하려다 말았음)

In [40]:
df_south.columns

Index(['사업장명', '소재지전화', '소재지전체주소', '도로명전체주소', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       'Unnamed: 47'],
      dtype='object')

In [37]:
df_south.to_csv('D:/DataSet/서울시_일반음식점_인허가_정보/gangnam_general_restaurant.csv', encoding = 'utf-8-sig')